<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://g.alicdn.com/dingding/dinglogin/0.0.5/ddLogin.js"></script>
</head>
<body>
  <div id="login_container"></div>
</body>
<script type="text/javascript">
var appId="dingoazhnfai3r9ykg07ao";
var url = encodeURIComponent('http://localhost:8089/code');
var goto = encodeURIComponent('https://oapi.dingtalk.com/connect/oauth2/sns_authorize?appid='+appId+'&response_type=code&scope=snsapi_login&state=STATE&redirect_uri='+url)

var obj = DDLogin({
     id:"login_container",
     goto: goto,
     style: "border:none;background-color:#FFFFFF;",
     width : "365",
     height: "400"
 });

var handleMessage = function (event) {
	  var origin = event.origin;
	  console.log("origin", event.origin);
	  if( origin == "https://login.dingtalk.com" ) {
	    var loginTmpCode = event.data; 
	    //获取到loginTmpCode后就可以在这里构造跳转链接进行跳转了
	    console.log("loginTmpCode", loginTmpCode);
	    
	    window.location.href="/code?code="+loginTmpCode;
	  }
	};
	if (typeof window.addEventListener != 'undefined') {
	    window.addEventListener('message', handleMessage, false);
	} else if (typeof window.attachEvent != 'undefined') {
	    window.attachEvent('onmessage', handleMessage);
	}
</script>
</html>