<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sdstc.mybatis.example.dao.BlogMapper">
   <resultMap id="taskDto" type="com.sdstc.mybatis.example.dto.TaskDto">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="task_name" jdbcType="VARCHAR" property="taskName" />
	</resultMap>
    
    <select id="selectTask" parameterType="com.sdstc.mybatis.example.dto.TaskDto" resultMap="taskDto">
		 select t.id,t.task_name from project_task t 
		 <where>
		   t.task_name like CONCAT('%', #{taskName}, '%')
		 </where>
	</select>
	
</mapper>